<div class="card-futcracia middle-card">
  <div>poll AxB</div>
  <%= poll.pollable.event_a %>
  <%= poll.pollable.event_b %>
  <div>
    Votos A
    <%= poll.count_votes(poll.pollable.event_a) %>
    <%= render 'shared/button', text: 'Vote for A', path: vote_for_a_poll_ax_b_path(poll.pollable), method: :post, remote: true, style: "py-3 px-6 w-full" %>
  </div>
  <div>
    Votos B
    <%= poll.count_votes(poll.pollable.event_b) %>
    <%= render 'shared/button', text: 'Vote for B', path: vote_for_b_poll_ax_b_path(poll.pollable), method: :post, remote: true, style: "py-3 px-6 w-full" %>
  </div>
</div>