<div class="main-wrapper card-futcracia">
        <h1>Partidas</h1>

        <ul>
            <% @matches.each do |match|%>
                <li>
                    <%= match.title%><br>
                    <%= match.home%><br>
                    <%= match.visitor%><br>
                </li>
            <%end%>
        </ul>

  <% if user_signed_in? %>
    <p>Welcome, <%= current_user.email %>!</p>
    <%= render 'shared/button', text: 'Logout', path: destroy_user_session_path, method: :delete %>
  <% else %>
    <%= render 'shared/button', text: 'Login', path: new_user_session_path %>
  <% end %>
</div>
