<% content_for :header do %>
  <div class="text-center">
    <h1><%= @match.title %></h1>
  </div>
<% end %>

<% content_for :body do %>
  <ul>
    <li><%= @match.home.name %></li>
    <li><%= @match.visitor.name %></li>
    <li><%= @match.date %></li>
  </ul>
<% end %>

<% content_for :footer do %>
  <div class="text-center">
    <div>footer</div>
  </div>
  <% if user_signed_in? %>
    <%= render 'shared/button', text: 'Logout', type: 'submit', path: destroy_user_session_path, method: :delete, style: "py-3 px-6 w-full" %>
  <% else %>
    <%= render 'shared/button', text: 'Login', type: 'submit', path: user_registration_path, style: "py-3 px-6 w-full" %>
  <% end %>
<% end %>
