<% content_for :header do %>
  <div class="text-center">
    <h1><%= @match.title %></h1>
    <div class="flex px-4 py-6 justify-around">
      <div id="home">
        <% home_image_path = "teams/#{@home.name}/logo.png" %>
        <%= image_tag(home_image_path, alt: "#{@home.name} logo") %>
        <div class="score">
          <%=@match.home_score %>
        </div>
      </div>
      <div id="visitor">
        <% visitor_image_path = "teams/#{@visitor.name}/logo.png" %>
        <%= image_tag(visitor_image_path, alt: "#{@visitor.name} logo") %>
        <div class="score">
          <%=@match.visitor_score %>
        </div>
      </div>
    </div>

  </div>
<% end %>

<% content_for :body do %>
  <ul>
    <li><%= @match.home.name %></li>
    <li><%= @match.visitor.name %></li>
    <li><%= @match.date %></li>
  </ul>
<% end %>

<% content_for :footer do %>
  <div class="text-center">
    <div>footer</div>
  </div>
  <% if user_signed_in? %>
    <%= render 'shared/button', text: 'Logout', type: 'submit', path: destroy_user_session_path, method: :delete, style: "py-3 px-6 w-full" %>
  <% else %>
    <%= render 'shared/button', text: 'Login', type: 'submit', path: user_registration_path, style: "py-3 px-6 w-full" %>
  <% end %>
<% end %>
